* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7294b8; 
  }
  
  .logo-container {
    position: relative;
    width: 120px;
    height: 100px;
  }
  
  .logo-shape {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: navy;
    border-radius: 10px;
  }
  
  .logo-left {
    background-color: navy;
    z-index: 1;
  }
  
  .logo-middle {
    background-color: #3c50b1; 
    left: 30px;
    z-index: 2;
  }
  
  .logo-right {
    background-color: #707ee7; 
    left: 60px;
    z-index: 3;
  }
  